@import "../../styles/main.module.scss";

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
  max-width: 70%;
  @include responsive(450px) {
    max-width: 100%;
    width: 100%;
  }

  input {
    height: 40px;
    width: 75%;
    font-size: 0.85rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    color: $color-white;
    font-family: inherit;
    padding: 10px;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-white;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $color-white;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $color-white;
    }
  }

  button {
    height: 40px;
    min-width: 88px;
    width: 25%;
    margin-left: -5px;
    padding: 0 10px;
    background-color: $color-primary;
    color: $color-white;
    font-family: inherit;
    font-size: 0.85rem;
    border: none;
    outline: none;
    cursor: pointer;

    span {
      color: white;
    }
  }
}

.modalContent {
  position: relative;
  width: 100vw;
  height: 100vh;
}
