@import "./main.module.scss";

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #b89acc46;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logoWrapper {
  height: 10vh;

  img {
    max-width: 33%;
    object-fit: contain;
    max-height: 100%;
    @include responsive(md) {
      max-width: 100%;
    }
  }
}

.main {
  height: 85vh;
  padding: 5vw 10vw;
  @include responsive(md) {
    padding: 5vw;
  }
}

.textWrapper {
  max-width: 60%;
  @include responsive(md) {
    max-width: 100%;
  }

  h1 {
    font-size: 4rem;
    font-weight: 800;
    text-transform: capitalize;
    color: transparent;
    background-image: linear-gradient($color-primary, $color-black);
    background-color: $color-primary;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    @include responsive(md) {
      text-align: center;
      font-size: 3rem;
    }
    @include responsive(sm) {
      font-size: 2rem;
    }

    .pasta {
      background-color: $color-secondary;
      background-image: linear-gradient($color-white, $color-secondary);
      background-clip: text;
      -webkit-text-stroke: 1px $color-secondary-light;
    }
  }

  .description {
    color: $color-white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.5rem;
    @include responsive(md) {
      text-align: center;
      font-size: 1rem;
    }
    @include responsive(sm) {
      font-size: 0.8rem;
    }
  }
}

.dots {
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include responsive(md) {
    display: none;
  }

  span {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: $color-white;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.377);
    cursor: pointer;
  }
}

.arrow {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.modalContent {
  position: relative;
  width: 100vw;
  height: 100vh;
}
