@import "../../styles/main.module.scss";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 450px;
  background-color: $color-primary-light;
  border-radius: 8px;
  padding: 20px 40px;
  display: grid;
  place-items: center;
}

.close {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.inputWrapper {
  & > * {
    margin: 10px 0;
  }

  input {
    &::placeholder {
      color: $color-black;
      font-weight: 600;
    }
  }
}
